@import "bootstrap";



 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  float: center;
  min-height: 100px;
}

/* Links inside the navbar */
.navbar a {
  float: none;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 8px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
#text {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: #000000;
  padding-top: 8pc;
}

#resume {
  padding-top: 100px;

}

#resume1 {
  float: right;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 10px;
}

.navbar #github {
  text-align: center;
  float: right;
  // padding-left: -500px;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 10px;
}

#linkedin {
  float: right;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 10px;
}

.footer1 {
  color: black;
  text-align: center;
  float: right;
  padding-left: 50px;
  text-decoration: none;
  letter-spacing: 0px;
  // font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100px;
  padding-top: 4em;
  width: 100%;
  background-color: #00000000;
  
  
}
