<footer class="footer1">
<p>
This website is built with Ruby on Rails and Heroku<br>
<a href="https://www.linkedin.com/in/osaddique">//LinkedIn</a>
<a href="https://www.github.com/oosamas">   //GitHub</a>
<%= link_to "   //Resume", "/OsResume.pdf" %> 
</p>
</footer>